:root {
    --color-primary: #003366;
}

.footer {
    background-color: var(--color-primary);
    text-align: center;
}

.news-featured__title {
    text-align: center;
    font-size: 35px;
    color: var(--color-primary);
}

.news-featured__link{
    color: inherit;
}

.news-block__title {
    font-weight: bold;
    color: var(--color-primary);
    margin-left: 10px;
}

#news-container .news-small {
    padding: 14px;
    border-radius: 8px;
    transition: transform 0.2s;
}

#news-container .news-small:hover {
    transform: translateY(-2px);
}

.sidebar__title {
    color: var(--color-primary);
}

.sidebar__list {
    list-style: none;
}

.popular-news-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.popular-news__title {
    flex: 1;
    font-weight: bold;
    color: var(--color-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.popular-news__title a {
    color: inherit;
}

.popular-news__desc {
    flex: 2;
    font-size: 14px;
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.popular-news__img {
    height: 100px;
}

.popular-news__img img {
    height: 100%;
    border-radius: 4px;
}

.reaction-btn {
    margin: 0 5px;
}
